<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="employeeDao" class="com.vincent.dao.EmployeeDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="employeeService" class="com.vincent.service.EmployeeService">
		<property name="employeeDao" ref="employeeDao"></property>
	</bean>
	
	<bean id="employeeAction" class="com.vincent.actions.EmployeeAction"
		scope="prototype">
		<property name="employeeService" ref="employeeService"></property>
		<property name="departmentService" ref="departmentService"></property>	
	</bean>
	
	
	<bean id="departmentDao" class="com.vincent.dao.DepartmentDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="departmentService" class="com.vincent.service.DepartmentService">
		<property name="departmentDao" ref="departmentDao" />
	</bean>

</beans>
